<!DOCTYPE html>
<html>
<head>
	<title>employer List</title>
</head>
<body>
	<h1> employer</h1>

	<a href="/home">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>Employer Name</td>
			<td>company Name Name</td>
			<td>Username</td>
			<td>Password</td>
			<td>Contact</td>
			<td>Action</td>
		</tr>
		
		

		<% users.forEach( function(std,i){ %>
			<%console.log(i++); %>
			<tr>
				<td><%= std.id %></td>
				<td><%= std.employerName %></td>
				<td><%= std.companyName %></td>
				<td><%= std.username %></td>
				<td><%= std.password %></td>
				<td><%= std.contact %></td>
				<td>
					<a href="/employer/edit/<%= std.id %>">Edit</a> |
					<a href="/employer/delete/<%= std.id %>">Delete</a>
				</td>
			</tr>

		<%
			}); 
		%>
		
	</table>

</body>
</html>